.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-dates div {
        padding: 20px;
        text-align: center;
        border: 1px solid #ddd;
        background-color: #fff;
}
.calendar {
    width: 100%;
    max-width: 700px;
}
.calendar-header{
    text-align: center;
    background-color: #0b5351;
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
}
.calendar-days {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     background-color: #49A078;
     color: white;
     text-align: center;
     place-items: center;
}
.today {
    font-weight: bold;
    color: #0b5351;
}
body {
    font-family: "Lexend", Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger {
    width: 40px;
    padding: .5rem;
}
.hamburger hr {
    margin: .75rem 0;
    border: 2px solid #fff;
}
header>nav {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 4.75rem;
    left: -100%;
    transition-property: left;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
header>nav>a {
    display: block;
    color: #0b5351;
    text-align: center;
    text-decoration: none;
    padding: 3rem;
    border: 1px solid #0b5351;
}
header>nav>a:hover {
    color: #49A078;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0b5351;
    z-index: 1;
    top: 0;
    width: 100%;
}
header nav.show {
    left: 0;
}
.overlay {
    width: 100%;
    height: 100%;
    top: 4.75rem;
    position: fixed;
    background-color: #0b132b65;
    transition-property: left;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    left: -100%;
}
.overlay.show {
    left: 0;
}
header img {
    width: 8rem;
    margin-right: 1rem;
}
.intro {
    background-image: url(images/Home.png);
    background-size: cover;
    color: #fff;
    justify-content: center;
    place-items: center;
    text-align: center;
    padding-bottom: 4rem;
    margin: 0;
}
.intro img {
    width: 20rem;
    display: block;
    padding: 1rem;
}
.intro>p {
    margin: 2rem;
}
.bbooknow {
    background-color: #fff;
    color: #0b5351;
    padding: 1rem;
    text-decoration: none;
    margin-bottom: 3rem;
    display: block;
}
.bbooknow:hover {
    background-color: #49A078;
    color: #fff;
}
.promo {
    background-color: #092327;
    color: #fff;
    margin: 0;
    text-align: center;
    padding: 1rem;
}
.promo h3 {
    font-family: "BBH Bartle", Arial, Helvetica, sans-serif;
    font-size: .7rem;
}
.promo h2 {
    font-family: "BBH Bartle", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0;
}
.artist img {
    max-width: 25%;
    margin: 1rem;
}
.artist {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social img {
    height: 3rem;
    margin: .25rem;
}
footer {
    background-color: #0b5351;
    text-align: center;
    color: #fff;
    padding: .25rem;
}
.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.story {
    background-image: url(images/Building.webp);
    background-size: cover;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.story>p {
    background-color: #0b132b80;
    margin: 0;
}
.story>h2 {
    background-color: #0b132b80;
    margin: 0;
    font-size: 3rem;
}
.goal {
    background-color: #0b5351;
    background-size: cover;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.goal>div>ol {
    margin: 0;
    text-align: left;
}
.goal>div>h2 {
    margin: 0;
    font-size: 3rem;
}
.goal>h2 {
    margin: 0;
    font-size: 3rem;
}
.studio {
    background-image: url(images/LeStudiowebp.webp);
    background-size: cover;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.studio>p {
    background-color: #0b132b80;
    margin: 0;
}
.studio>h2 {
    background-color: #0b132b80;
    margin: 0;
    font-size: 3rem;
}
.member img {
    width: 8rem;
    margin: 1rem;
}
.member {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #0b5351;
    margin: 1rem;
}
.member h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.2rem;
}
.member h4 {
    margin: 0;
    padding: 0.2rem;
}
.team>h2 {
    margin: 2rem;
    font-size: 3rem;
    color: #0b5351;
    text-align: center;
}
.record {
    background-image: url(images/Record.webp);
    background-size: cover;
    color: #fff;
    justify-content: center;
    margin: 0;
}
.record>h2 {
    font-size: 3rem;
    background-color: #0b132b80;
    margin: 0;
    padding: 1rem;
    text-align: center;
}
.record>div {
    background-color: #0b132b80;
}
.record>div>div>h3 {
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
    margin: 0;
    margin-top: 2rem;
}
.record>div>div>p {
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
}
.record>h3 {
    font-size: 2rem;
    background-color: #0b132b80;
    text-align: center;
    padding: 2rem;
}
.record img {
    display: block;
    max-width: 80%;
    padding: 5rem;
    margin: auto;
}
.service {
    background-color: #0b5351;
    color: #fff;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.service img {
    width: 11rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.service h3 {
    text-align: center;
    padding-top: 0.5rem;
}
.service>div {
    display: flex;
}
.pricing {
    font-size: 2rem;
    text-align: center;
    color: #0b5351;
}
form {
    padding: 1rem;
    color: #fff;
}
label, input[type=text], [type=email], textarea {
    display: block;
    margin: .5rem 0;
}
input[type=text], [type=email], textarea {
    width: 95%;
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid transparent;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
}
textarea {
    height: 5rem;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    color: #0b132b;
}
input:focus[type=text], input:focus[type=email], textarea:focus {
    outline: none;
    border: 1px solid #0b5351;
}
.acal {
    margin: 0;
    background-color: #092327;
    padding: 1rem;
}
.acal>h2 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
input[type=submit] {
    background-color: #49A078;
    color: #fff;
    border: none;
    padding: .7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: bold;
    font-size: 1rem;
    margin: auto;
    display: block;
    margin-top: 2rem;
}
input:hover[type=submit] {
    background-color: #0b5351;
}
.create {
    background-color: #0b5351;
    background-size: cover;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.create>h2 {
    margin: 0;
    font-size: 3rem;
}
@media (min-width:1000px) {
.hamburger {
        display: none;
    }
    header>nav {
        position: static;
        background-color: unset;
        width: unset;
    }
    header>nav>a {
        border: none;
        padding: 2rem;
        display: inline-block;
        color: #fff;
    }
    header>nav>div {
        border: none;
        padding: 2rem;
        display: inline-block;
    }
    header img {
        margin-right: 0;
        margin-left: 2rem;
    }
    .abooknow {
        background-color: #fff;
    color: #0b5351;
    padding: 1rem;
    text-decoration: none;
    margin-right: 1rem;
    }
    .intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80% auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .intro img {
        grid-column-start:2;
        grid-column-end:3;
        grid-row-start:1;
        grid-row-end:2;
        width: 30rem;
    }
    .intro>p {
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:1;
        grid-row-end:2;
    }
    .promo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .testamonials>div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;      
}
.testamonials>h2 {
    font-size: 3rem;
    text-align: center;
}
.artist {
    display: block;
    padding: 1rem;
}
.artist img {
    width: 30rem;
    max-width: 100%;
    margin: 0;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75% auto;
}
.add {
    grid-column-start:2;
        grid-column-end:3;
        grid-row-start:2;
        grid-row-end:3;
        padding-bottom: 3rem;
        margin: 0;
}
.fll {
    font-size: 3rem;
}
.social img {
    height: 5rem;
}
.story {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}
.story>h2 {
    padding: 4rem;
    font-size: 4rem;
}
.story>p {
    padding: 1rem;
}
.goal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}
.goal>div {
    grid-column-start:2;
        grid-column-end:3;
        grid-row-start:1;
        grid-row-end:2;
}
.goal>h2 {
    font-size: 4rem;
}
.studio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}
.studio>h2 {
    padding: 4rem;
    font-size: 3.85rem;
}
.studio>p {
    padding: 1rem;
}
.team>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.record>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.record>div>div>h3 {
    font-size: 3rem;
}
.record {
    padding-bottom: 20rem;
}
.record>h3 {
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 3rem;
}
.record>h2 {
    margin-bottom: 3rem;
    font-size: 4rem;
}
.gridp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.service {
    margin: 1rem;
}
.service>h3 {
    margin: 0.5rem;
}
.create {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 5rem;
}
.create>div {
    grid-column-start:2;
        grid-column-end:3;
        grid-row-start:1;
        grid-row-end:2;
}
.create>h2 {
    font-size: 4rem;
}
.create>p {
    font-size: 1.2rem;
}
.gridc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 20rem;
}
.calendar {
    grid-column-start:1;
        grid-column-end:2;
        grid-row-start:1;
        grid-row-end:2;
}
.acal>h2 {
    font-size: 4rem;
    
}
.abooknow:hover {
    background-color: #49A078;
    color: #fff;
}
.contact {
    margin-left: 3rem;
}
}
@media (min-width:1300px) {
    .story {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .goal {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .studio {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}